/packs/items/arsenal/LOCK
/packs/abilities/class/LOCK
/packs/abilities/origin/LOCK
/packs/abilities/others/LOCK
/packs/abilities/paranormal/LOCK
/packs/abilities/path/LOCK
/packs/items/cursed/LOCK
/packs/items/gear/LOCK
/packs/rituals/blood/LOCK
/packs/rituals/death/LOCK
/packs/rituals/energy/LOCK
/packs/rituals/fear/LOCK
/packs/rituals/knowledge/LOCK
